 .tudo {
    background-color: white; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
  }
    
  .container {
    display: flex;
    align-items: center; 
  }
  
  .logo {
    order: 1; 
  }
  
  .menu {
    order: 2; 
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .menu li {
    margin-left: 300px;
    margin-right: 20px; 
  }
 
  .menu a {
    text-decoration: none;
    color: black; 
    transition: color 0.3s; 
    cursor: pointer; 
  }
  
  .menu a:hover {
    color: red; 
    background-position: 10px;
  }
    
  .imagen {
    max-width: 100px; 
  }