body {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    font-size: 28px;
    color: #FFF;
    margin-top: 50px;
  }
  
  form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
  }
  
  input[type="text"]::placeholder,
  input[type="password"]::placeholder {
    color: #777;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #FF6600;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #FF5500;
  }
  
  .la{
    text-align: center;
    color: white;
  }
  